body{
    background-color: lightgray;
}

.one{
    background-color: white;
    border-radius: 15px;
}

.two {
  background-color: white;
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
    
}


table, tr, th {
    border: 2px solid black;
}

.three{
    color: white;
    background-color: black;
}